# Git y Docker
.git/
.gitignore
.dockerignore
Dockerfile
docker-compose.yml

# Entornos virtuales locales y dependencias
venv/
env/
.venv/
.env/

# Archivos de configuración y secretos
data/config.json
*.env

# Artefactos de Python
__pycache__/
*.pyc
*.pyo

# Archivos del IDE
.idea/
.vscode/

# Documentación y archivos auxiliares
README.md
entrypoint.sh
*.md

# Archivos del sistema operativo
.DS_Store

# Informes de pruebas
.pytest_cache/
.coverage
htmlcov/