# Archivos de configuración y secretos
data/config.json

# Entornos virtuales de Python
venv/
env/
.venv/
.env/
*/activate

# Artefactos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de distribución y construcción
build/
dist/
*.egg-info/
*.egg

# Metadatos del instalador de paquetes
pip-wheel-metadata/
pip-log.txt

# Archivos del IDE y editores de código
.idea/
.vscode/
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs y bases de datos locales
*.log
*.db
*.sqlite3

# Informes de pruebas y cobertura
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
test.py
